<a href="/Attendance/create">+Create</a>|<a href="/Attendance/index">List</a>|<a href="/Attendance/update/<%= model.id %>">Update</a>

<h2>View Attendance: <%=model.id%></h2>
<ul>
	<li>UID: <%=model.uid %></li>
	<li>Course Code: <%=model.code %></li>
	<li>Create Time: <%=model.createdAt %></li>
	<li>Update Time: <%=model.updatedAt %></li>
</ul>