<a href="/CourseD/create">+Create</a>|<a href="/CourseD/index">List</a>|<a href="/CourseD/update/<%= model.code %>">Update</a>

<h2>View: <%=model.code%></h2>
<ul>
	<li>Course Name: <%=model.name %></li>
	<li>Course Code: <%=model.code %></li>
	<li>Remark: <%=model.remark %></li>
</ul>