<a href="/Student/create">+Create</a>|<a href="/Student/index">List</a>|<a href="/Student/update/<%= model.id %>">Update</a>

<h2>View: <%=model.sid%></h2>
<ul>
	<li>UID: <%=model.uid %></li>
	<li>Student ID: <%=model.sid %></li>
	<li>Student Name: <%=model.name %></li>
</ul> 